button {
    outline: none;
    background: none;
    border: 0;
}

.panel a {
    color: #fff;
}

.panel a:hover {
    color: #fff;
    text-decoration: none;
}

.center-block {
    width: 300px;
}

.card {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.remove {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 15px;
    color: #cc9a9a;
}

.form-control.access-search {
    width: 550px;
}

.list-group .badge {
    background-color: #fff;
    color: #7479ca;
}

.list-group .badge.active {
    background-color: #7479ca;
    color: #fff;
}

.ui-select-bootstrap>.ui-select-match>.btn {
    min-width: 500px;
}
.ui-select-bootstrap {
    min-width: 500px;
}

.ui-select-bootstrap>input[type=search] {
    min-width: 500px;
}

.badge.delete {
    color: #cc9a9a;
    cursor: pointer;
}

