<!doctype html>
<html ng-app='todo'>
	<head>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="app.js"></script>
		<script src="todo.controller.js"></script>
		<script src="directives/focus.js"></script>
		<link rel="stylesheet" href="todo.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	  </head>
	  <body>
			<div class="row" ng-controller='TodoController as todoCtrl'>
			  <div class="center-block">
					<h2>TODO APP</h2>
					<span>{{todoCtrl.remaining()}} of {{todoCtrl.todos.length}} remaining</span>
					<form ng-submit="todoCtrl.add()">
						<input type="text" ng-model="todoCtrl.new"  size="30"
						placeholder="add new todo here" class="form-control">
					</form>
					<div class="checkbox" ng-repeat='todo in todoCtrl.todos'>
						<label ng-class='{done: todo.done}' ng-show='!todo.editing' ng-dblclick='todoCtrl.edit(todo)'>
							<input type="checkbox" ng-model='todo.done'>{{todo.text}}
						</label>
						<button class="remove" ng-click='todoCtrl.remove(todo)'>x</button>
						<form ng-submit="todoCtrl.save(todo)" ng-show='todo.editing'>
							<input class="form-control" ng-model="todo.text" autofocus>
						</form>
					</div>
			  </div>
			</div>
	  </body>
</html>
