button {
    outline: none;
    background: none;
    border: 0;
}

.center-block {
    width: 300px;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.remove {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 20px;
    color: #cc9a9a;
    margin-bottom: 7px;
    transition: color 0.2s ease-out;
}


